<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PlayniteSDK" version="6.11.0" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Io.Compression" version="4.3.0" targetFramework="net462" />
</packages>